__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
lgnn.db
scratch/
.visited_*.json
*.sqlite3
*.db
.env
.idea/
.vscode/
.DS_Store
.visited_*.json
